<a href="https://colab.research.google.com/github/ericaburdett/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
df.shape

(48817, 34)

In [0]:
# The instructions say to split into train and test sets then engineer features.
# I think it makes more sense the other way so I don't have to engineer the 
# features on two different sets.

In [0]:
# Feature engineering
# I remember seeing somewhere that someone said people go nuts if you say the
# term 'pre-war'. It's going to take a bit of doing, but I'm going to look for 
# that phrase in the description

In [7]:
# Convert entire column to lowercase
df['description'] = df['description'].str.lower()

# Be sure it worked
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [9]:
# Some may not put a hyphen in pre-war, so I'll change those to spaces
df['description'] = df['description'].str.replace('-', ' ')

# Be sure it worked
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [19]:
# Create new column
df['contains_pre_war'] = df['description'].str.contains('pre war')

# Not every place has a description, so there are NaN values in the new column
# I'll replace every NaN with False
df['contains_pre_war'].fillna(value=False, inplace=True)

# Be sure it worked
print(df.head())
df['contains_pre_war'].isnull().sum()

   bathrooms  bedrooms  ... common_outdoor_space contains_pre_war
0        1.5         3  ...                    0            False
1        1.0         2  ...                    0            False
2        1.0         1  ...                    0             True
3        1.0         1  ...                    0            False
4        1.0         4  ...                    0            False

[5 rows x 35 columns]

0

In [20]:
# Convert True / False to 1 / 0
df['contains_pre_war'] = df['contains_pre_war'].astype(int)

# Be sure if it works
df.head()

   bathrooms  bedrooms  ... common_outdoor_space contains_pre_war
0        1.5         3  ...                    0                0
1        1.0         2  ...                    0                0
2        1.0         1  ...                    0                1
3        1.0         1  ...                    0                0
4        1.0         4  ...                    0                0

[5 rows x 35 columns]

In [21]:
# Bedrooms plus bathrooms
df['bed_bath'] = df['bedrooms'] + df['bathrooms']

df.head()

   bathrooms  bedrooms  ... contains_pre_war bed_bath
0        1.5         3  ...                0      4.5
1        1.0         2  ...                0      3.0
2        1.0         1  ...                1      2.0
3        1.0         1  ...                0      2.0
4        1.0         4  ...                0      5.0

[5 rows x 36 columns]

In [23]:
# Split data into train, test sets

# I want to be sure the 'created' column is filled with datetime objects
type(df['created'][0])

str

In [24]:
# Convert those strings to datetime objects
df['created'] = pd.to_datetime(df['created'])

# Be sure it worked 
type(df['created'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
# Split data
# I'm going to create a colulmn for the month
df['month'] = df['created'].dt.month
df.head()

   bathrooms  bedrooms             created  ... contains_pre_war bed_bath  month
0        1.5         3 2016-06-24 07:54:24  ...                0      4.5      6
1        1.0         2 2016-06-12 12:19:27  ...                0      3.0      6
2        1.0         1 2016-04-17 03:26:41  ...                1      2.0      4
3        1.0         1 2016-04-18 02:22:02  ...                0      2.0      4
4        1.0         4 2016-04-28 01:32:41  ...                0      5.0      4

[5 rows x 37 columns]

In [26]:
# Use data from April & May 2016 to train. Use data from June 2016 to test
train = df[df['month'] != 6]
test = df[df['month'] == 6]

train.head()

   bathrooms  bedrooms             created  ... contains_pre_war bed_bath  month
2        1.0         1 2016-04-17 03:26:41  ...                1      2.0      4
3        1.0         1 2016-04-18 02:22:02  ...                0      2.0      4
4        1.0         4 2016-04-28 01:32:41  ...                0      5.0      4
5        2.0         4 2016-04-19 04:24:47  ...                0      6.0      4
6        1.0         2 2016-04-27 03:19:56  ...                0      3.0      4

[5 rows x 37 columns]

In [27]:
test.head()

    bathrooms  bedrooms             created  ... contains_pre_war bed_bath  month
0         1.5         3 2016-06-24 07:54:24  ...                0      4.5      6
1         1.0         2 2016-06-12 12:19:27  ...                0      3.0      6
11        1.0         1 2016-06-03 03:21:22  ...                0      2.0      6
14        1.0         1 2016-06-01 03:11:01  ...                0      2.0      6
24        2.0         4 2016-06-07 04:39:56  ...                0      6.0      6

[5 rows x 37 columns]

In [28]:
print(train.shape)
test.shape

(31844, 37)

(16973, 37)

In [29]:
df['pre-war'].sum()

9063

In [30]:
df['contains_pre_war'].sum()

1783

In [0]:
# OK. So I just realized there was already a column for 'pre-war'. However, the
# difference in the sums of the columns tells me that not all pre-war apartments
# have pre-war in the description. So I'm going to leave 'contains_pre_war' as
# one of my features.

In [34]:
features = [['bathrooms', 'bedrooms']]
target = ['price']

# Define X features matrices
X_train = train[features]
X_test = test[features]

# Define y target vector
y_train = train[target]
y_test = test[target]

KeyError: ignored